###########################################
#    MariaDB account config connection    #
#           Provided by Ansible           #
#         Don't modify this file          #
###########################################

[client]
host='127.0.0.1'
user={{ user }}
password={{ password }}
