###########################################
#         MariaDB Network settings        #
#           Provided by Ansible           #
#         Don't modify this file          #
###########################################

[mysqld]
bind_address={{ mariadb_conf_network_bind }}
